<launch>
  <!-- control_center_morai_clear 노드 실행 + YAML 로드 -->
  <node pkg="roscpp_morai_2"
        type="control_center_morai_clear.py"
        name="control_center_morai_clear"
        output="screen">

    <!-- 이 노드의 private namespace(~)에 YAML 로드 -->
    <rosparam file="$(find roscpp_morai_2)/config/control_center_morai_clear.yaml"
              command="load" />
  </node>
</launch>
