<!-- launch/morai_pp_all.launch -->
<launch>
  <node pkg="roscpp_morai" type="global_path_pub_node" name="global_path_pub_node" output="screen">
    <param name="csv_file" value="$(find roscpp_morai)/data/ego_path.csv"/>
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="roscpp_morai" type="local_path_pub_node" name="local_path_pub_node" output="screen">
    <param name="forward_len_m" value="15.0"/>
  </node>

  <node pkg="roscpp_morai" type="pure_pursuit_controller_kante_node" name="pure_pursuit_controller_kante_node" output="screen">
    <param name="wheelbase" value="2.7"/>
    <param name="v_set" value="10.0"/>
  </node>
</launch>
