<launch>
  <!-- ===== Args ===== -->
  <arg name="in_topic"     default="lidar2D"/>
  <arg name="out_topic"    default="scan"/>
  <arg name="rotate_deg"   default="180.0"/>
  <arg name="frame_id"     default="lidar2D"/>  <!-- TF와 맞추기 -->

  <node pkg="parkie_morai" type="convert_lidar" name="convert_lidar" output="screen">
    <param name="in"             value="$(arg in_topic)"/>
    <param name="out"            value="$(arg out_topic)"/>
    <param name="rotate_deg"     value="$(arg rotate_deg)"/>
    <param name="use_now_stamp"  value="true"/>     <!-- 원본 stamp 유지 권장 // FALSE에서 TURE로 변환 -->
    <param name="frame_id"       value="$(arg frame_id)"/>
    <param name="filter_invalid" value="true"/>
  </node>
</launch>
